header {
    color:pink
}

body {
background-color: beige;
}

h1{
   font:50px;
   color:black;
   text-align: center;
   margin-right:auto
}

h2 {
    font: 20px;
    color:black;
    text-align: center;
}

text {
    background-color:black; 
    color:hotpink;
    font-size:20px;
    padding:2px;
}

input {
    background-color: black;
    color:pink;
}
